.ai-answer-style-reset
  pre
    margin 0
    padding 6px 8px
    border-radius 10px
    background #f6f8fa

    & + pre
      margin-top 8px

  pre, code
    white-space pre-wrap
    word-break break-word
    word-break break-word

  p+p
      margin-top 8px