// 布局
$accentColor = #42b983
$contentWidth = 1200px
$sidebarWidth = 320px
$navbarHeight = 9rem
$navbar-sub-navbar-height = 5rem
$navbar-background-color = #f7f7f7
$search-container-color = #f5f6f7
$vuepress-toc-width = 224px
$vuepress-display-min-width = 1500px
$MQMobile = 1140px
$DocSearch_MQMobile = 1400px
$sidebarFontSizeBase = 1.05rem
$sidebarFontSizeSub = 0.95rem
$sidebarLineHeight = 1.45
